@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #e5e5e5;
    padding: 20px;
}
h1, h2 {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

article#publicacoes{
    background-color: #e5e5e5;
    line-height: 20px;
    padding: 20px;
}

article#habilidades{
    background-color: #4387d8;
    padding: 20px;
}

aside{
    background-color: #315e93;
}