@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

a{
    background-color: #e5e5e5;
    margin-left: 0px;
    transition-property: background-color, margin-left;
    transition-duration: 0.5s;
    color: blue;
}

a:hover, a:focus{
    background-color: yellow;
    color: black;
}

li{
    display: inline;
    margin-right: 20px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    grid-template-areas:
        "um dois";
    grid-template-columns: auto 200px;

}

section{
    grid-area: um;
}

header{
    background-color: #e5e5e5;
    padding: 20px;
    text-align: center;
}
h1, h2{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

article#publicacoes{
    background-color: #e5e5e5;
    line-height: 20px;
    padding: 20px;
}

article#habilidades{
    background-color: #4387d8;
    padding: 20px;
}

video{
    width: 150px;
}

#html{height: 75px; width: 75px;}
#css{height: 85px; width: 85px;}
#java{height: 75px; width: 75px;}
#js{height: 75px; width: 75px;}
#python{height: 75px; width: 75px;}
#selenium{height: 75px; width: 75px;}


aside{
    background-color: #315e93;
    grid-area: dois;
}

@media screen and (max-width: 1024px){
    main{
        display: block;
    }
}